#container{
    width: 600px;
    margin: 0 auto;
}
form{
    margin-top: 40px;
}

fieldset{
    padding: 20px;
    border: solid 1px #2366A8;
}

fieldset legend{
    background-color: white;
    padding: 10px;
    border: solid 1px #aaaaaa;
}
input[type="text"],
input[type="password"],
textarea{
    padding: 2%;
    width: 96%;
    margin: 0 0 20px 0;
    border: solid 1px #454545;
    border-top: none;
    display: block;
    font-size: 12px;
}

input[type="checkbox"],
input[type="radio"]{
    padding: 20%;
    width: 30%;
}

input[type="file"]
{
    padding: 2%;
    width: 96%;
    margin: 0 0 20px 0;
    border: solid 1px #454545;
    border-top: none;
    display: block;
    font-size: 12px;
}

textarea{
    resize: none;
    height: 60px;
}

label{
    font-size: 12px;
    display: block;
    padding: 1%;
    width: 98%;
    background-color: #9EBECB;
    color: white;
    border: solid 1px #454545;
}

input[type="reset"],
input[type="submit"]{
    background: none;
    background-color:#ff6a00;
    height: 40px;
    width: 100px;
    padding: 5px;
    border: solid 1px #eeeeee;
    margin: 10px 2px;
    color: white;
}

input[type="reset"]:hover,
input[type="submit"]:hover{
    corsor:pointer;
    border-color: #009900;
}
input[type="reset"]:active,
input[type="submit"]:active{
    cursor: pointer;
    border-color: #0033ff;
    outline-color: #0033ff;
}